* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
}

body {
    font-size: 16px;
    /* background-image: url(img/bg-tablet-pattern.svg);
    background-size:contain;
    background-repeat: none; */
    
    
}

/* -- HEADER --  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    margin-bottom: 20px;
}

header img {
    width: 120px;
}

header .menu-hambur {
    color: #232C50;
    font-weight: 700;
    font-size: 2rem;
    
}

header nav, header button {
    display: none;
}

/* -- MAIN --  */

/* SECTION1 */
.section1-graficos {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

/* ARTICLE IMG */
.section1-graficos .article-right-img {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-graficos .article-right-img img {
    width: 300px;
    /* border: 1px solid blue; */
    text-align: center;
    /* padding: 0px 15px; */
}

/* ARTICLE PRESENTATION */
.section1-graficos .article-left-presentation {
    /* border: 1px solid green; */
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-graficos .article-left-presentation #h1-bring {
    font-size: 2.2rem;
    text-align: center;
    color: #232C50;
    font-weight: 700;
    margin-bottom: 15px;
    width: 250px;
}
.section1-graficos .article-left-presentation p {
    color: #B3B2B7;
    /* font-weight: 500; */
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}


/* BOTONES */

.button-getStarted {
    border-radius: 50px;
    height: 40px;
    padding: 10px;
    width: 134px;
}

.button-getStarted-naranja {
    background-color: #F3603B;
    border: 1px solid #F3603B;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* -- SECTION2 --  */

.section2 {
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* ARTICLE LEFT */

.section2 .article-left-whatAbout {
    /* border: 1px solid green; */
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}

.section2 .article-left-whatAbout h2 {
    color: #232C50;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
}

.section2 .article-left-whatAbout span {
    color: #B3B2B7;
    text-align: center;
    line-height: 30px;
    
}

/* ARTICLE RIGHT  */

.section2 .article-right-description {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
}

.section2 .article-right-description .descripciones {
    margin-bottom: 40px;
    margin-left: 12px;
}

.section2 .article-right-description .descripciones .div-button-h4 {
    display: flex;
    background-color: rgba(250, 128, 114, 0.192);
    padding: 6px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 7px;
    
    
}

.section2 .article-right-description .descripciones .div-button-h4 .numbers-orange {
    border-radius: 50px;
    height: 35px;
    padding: 10px;
    width: 55px;
    position: absolute;
    left:-5px;
    text-align: center;
    margin-right: 5px;
}

.section2 .article-right-description .descripciones .h4-titulo {
    color: #232C50;
    font-weight: 700;
    text-align: center;
    margin-left: 8px;
    font-size: 15px;
    width: 70vw;
}


.section2 .article-right-description .descripciones .p-descripcion {
    color: #B3B2B7;    
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
}

/* -- SECTION3 -- */

.section3-users {
    /* border: 1px solid blue; */
    
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section3-users h2 {
    color: #232C50;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 100px;
    text-align: center;
}

/* ARTICLE ALI */

.section3-users div .article-users {
    background-color: #fafafa9f;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-users div .article-users img {
    width: 65px;
    position: absolute;
    top:-35px;
}

.section3-users div .article-users .user-name{
    color: #232C50;
    margin-top: 50px;
    font-weight: 700;
}

.section3-users div .article-users p.user-comment {
    color: #B3B2B7;
    font-weight: 500;
    line-height: 25px;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.section3-users div.div-puntitos i {     
    font-size: 40px;
    margin: 10px 0px 20px;
    color: #F3603B ;
}

/* SECTION ANISHA RICHARD OCULTAS */
.section3-users div .article-anisha , .section3-users div .article-richard {
    display: none;
}

/* -- SECTION4 -- */

.section4 {
    background-color: #f3603b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    justify-content: center;
    
}

.section4 h2 {
    color: white;
    text-align: center;
    text-align: 500;
    margin-bottom: 30px;
    width: 80vw;
    font-size: 2.5rem;
}

.section4 .button-getStarted-blanco {
    background-color: white;
    color: #F3603B;
    border: solid 1px white;
    font-weight: 700;
}

/* -- FOOTER -- */

footer {
    background-color:  #1E1E26;
    /* padding: 0px 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* FORM INPUT */
footer .article-inbox-copyright {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 40px;
    align-items: center;
}

footer .article-inbox-copyright form input {
    width: 190px;
    height: 40px;
    border-radius: 21px;
    padding: 10px;
    border: 1px solid white;
    margin-right: 9px;
    font-size: 14px;
}

footer .article-inbox-copyright button {
    border-radius: 21px;
    height: 35px;
    padding: 10px 20px;
    width: 65px;
    background-color: #F3603B;
    border: 1px solid #F3603B;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 12px;
}

/* NAVS */
footer .article-navs {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    /* border: 0.5px solid blue; */
    width: 220px;
    margin-bottom: 25px;
}

footer .article-navs nav ul li  {
    list-style-type: none;
    margin-bottom: 8px;
}

footer .article-navs nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    
}

/* ICONS & IMAGES */

footer .article-logo-socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 90px;
    align-items: center;
    margin-bottom: 30px;
}

footer .article-logo-socialMedia div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .article-logo-socialMedia div i {
    color: white;
    font-size: 27px;
    margin:0px 15px;
}


/* COPYRIGHT */

footer span.copyright {
    color: #8C8C94;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}


/* -- **** PSEUDOELEMENTOS *** -- */
header nav ul li a:hover{
    color: rgb(143, 148, 167);
}

.button-hover:hover {
    background-color: rgb(254, 165, 138);
    cursor: pointer;
    border: 1px solid rgb(254, 165, 138);
    
}

footer .article-navs nav ul li a:hover,  footer .article-logo-socialMedia div i:hover {
    color:#F3603B
}

input[type="email"]:invalid{ 
    border: 4px solid red;
}

input[type="email"]:focus {
    border: 1px solid grey;
}

input[type="email"]:valid{
    border: 4px solid rgba(47, 255, 82, 0.655)
}

/* -- MEDIA QUERYS -- */

@media (min-width:480px) {
    body {
        background-image: url(img/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: top -150px right -180px;
    }

    /* HEADER */
    li {
        list-style-type: none;
    }
     a {
        text-decoration: none;
    }
    header {
        padding: 75px 165px 0px;
        margin-bottom: 0px;
    }

    header nav, header button {
        display: block;
    }
    header .menu-hambur {
        display: none;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
    }
    header nav ul li {
        margin-left: 28px;
    }
    
    header nav ul li a {
        color:#242E52;
        text-decoration: none;
    }
    
    /* SECTION1 GRAFICOS */
    .section1-graficos {
        flex-direction: row;
        /* border: 1px solid green; */
        justify-content: space-between;
        align-items: center;
        padding: 60px 165px;
        height: calc(100vh - 200px);
        margin-bottom: 10px;   
    }
    
    /* ARTICLE LEFT */
    .section1-graficos .article-left-presentation{
       /* border: 1px solid blue;  */
       width: 500px;
       position: relative;
       align-items: flex-start;
       order: 1;
       margin-right: 50px;
    }

    .section1-graficos .article-left-presentation #h1-bring{
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 28px;
        width: 600px;
        text-align: start;
    }

    .section1-graficos .article-left-presentation p {
        text-align: start;
        width: 350px;
    }

    /* ARTICLE RIGHT IMG */
    .section1-graficos .article-right-img {
        /* border: 1px solid red; */
        order: 2;
    }

    .section1-graficos .article-right-img img {
        width: 500px;
    }
    
    /* SECTION2 */
    .section2 {
        flex-direction: row;
        padding: 0px  165px 15px;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* ARTICLE LEFT */
    .section2 .article-left-whatAbout {
        align-items: flex-start;
        width: 400px;
    }

    .section2 .article-left-whatAbout h2 {
        width: 400px;
        text-align: start;
        
    }

    .section2 .article-left-whatAbout span {
        width: 330px;
        text-align: start;
        line-height: 24px;
    }



    /* ARTICLE RIGHT */
    .section2 .article-right-description {
        width: 420px;
        position: relative;
    }

    .section2 .article-right-description .descripciones {
        margin-left: 0px;
    }

    .section2 .article-right-description .descripciones .div-button-h4 {
        justify-content: flex-start;
        position: none;
        background-color: white;
        padding: 6px 0px;
    }

     .section2 .article-right-description .descripciones .div-button-h4 .numbers-orange {
    left: -70px;
}

    .section2 .article-right-description .descripciones .h4-titulo {
        width: 250px;
        text-align: start;
        margin-left: 0px;
    }

    .section2 .article-right-description .descripciones .p-descripcion {
        width: 400px;
    }

    /* SECTION3 */
    .section3-users {
        padding: 40px 20px 0px;
        margin-bottom: 180px;
    }

    .section3-users h2 {
        font-size: 39px;
        text-align: center;
    }

    /* CONTENEDOR USERS */
    .section3-users div {
        display: flex;
        flex-direction: row;
        align-items: none;
        margin-bottom: 30px;
        padding: 0px 70px;
    }
    
    /* ARTICLE USERS */
    .section3-users div .article-users {
        justify-content: center;
        /* border: 0.5px solid red; */
    }

    .section3-users div article.anisha {
        order: -1;
    }

    .section3-users div .article-users img {
        width: 80px;
        height: 80px;
    }
    
    .section3-users div .article-anisha , .section3-users div .article-richard {
        display: block;
    }

    /* ICONO  */
    .section3-users div.div-puntitos i {
        display: none;
    }

    /* SECTION4 */
    .section4 {
        flex-direction: row; 
        justify-content: space-between;
        padding: 80px 170px;
    }

    .section4 h2 {
        width: 500px;
        text-align: start;
    }

    /* FOOTER */
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 67px 170px 52px;
        position: relative;
    }

    /* ARTICLE SOCIAL MEDIA ICONS+IMG */

    footer .article-logo-socialMedia {
        order: -5;
        text-align: start;
        align-items: flex-start;
        margin-bottom: 0px;
        width: 150px;
        height: 100px;
        justify-content: space-between;
    }

    footer .article-logo-socialMedia div {
        order: 1;
    }

    footer .article-logo-socialMedia div i {
        font-size: 1rem;
        margin-right: 0px;
        margin-top: 0px;
    }

    /* ARTICLE NAVS */

    footer .article-navs {
        order: -4;
        margin-bottom: 0px;
        width: 400px;
    }
    footer .article-navs nav ul li a {
        font-size: 1rem;
        
    }


    footer .article-inbox-copyright {
        align-self: flex-start;
        margin-top: 0px;
        width: 0px;
        position: relative;
        right: -60px;
    }

    footer span.copyright {
        align-self: flex-end;
        margin-bottom: 0px;
    }
}   


